response
result
.replit.nix
.replit
discord_Midjorneyv6.zip
.pythonlibs
.upm
**/response/
**/unzipped_content/
vision (copy).py
about.md
gemini/auth_gemini.py
.local
discord_Midjorneyv6.zip
gemini/auth_gemini.py
auth_gemini
gemini/auth_gemini.py


/data_2024-02-20_22-12-44/
data_2024-02-20_23-48-53
data_2024-02-20_23-45-10
data_2024-02-20_23-46-20
data_2024-02-20_23-47-39